<div class='row'>
  <div class='col-7'>
    <h2 class="bg-light border px-3 mb-3 d-inline-block">マイページ</h2>
    <div class="text-success">
      <%= flash[:notice] %>
    </div>
    <div class = "col-4">
      <table class="table table-borderless align-middle text-nowrap">
        <tr>
          <td><h3 class="m-0">登録情報</h3></td>
          <td><%= link_to '編集する', customers_information_edit_path, class:"btn btn-success btn-block" %></td>
        </tr>
      </table>
    </div>
    <table class="table table-bordered">
      <tr>
        <th class="bg-light">氏名</th>
        <td><%= @customer.name %></td>
      </tr>
      <tr>
        <th class="bg-light">メールアドレス</th>
        <td><%= @customer.email %></td>
      </tr>
    </table>
    <div class = "col-6">
      <table class="table table-borderless">
        <tr>
          <td>レビュー投稿</td>
          <td><%= link_to '一覧を見る', reviews_path , class:"btn btn-primary btn-block" %></td>
        </tr>
        <tr>
          <td> コメント</td>
          <td><%= link_to '一覧を見る', "#" , class:"btn btn-primary btn-block" %></td>
        </tr>
      </table>
    </div>
  </div>
</div>
</div>