<div class='row'>
  <div class='col-lg-7'>
    <div class="text-success"><%= flash[:notice] %></div>
    <div class="text-danger"><%= flash[:alret] %></div>
    <h2 class="bg-light px-3 my-3 d-inline-block">マイページ</h2>
    <div class="col-lg-4">
      <table class="table table-borderless text-nowrap">
        <tr>
          <td><h3>登録情報</h3></td>
          <% if @customer.name != "guestuser" %>
            <td><%= link_to '編集する', customers_information_edit_path, class:"btn btn-success btn-block" %></td>
          <% end %>
        </tr>
      </table>
    </div>
    <%= render 'public/customers/customer_list', customer: @customer %>
    <div class="col-lg-6">
      <% if @customer.name != "guestuser" %>
        <table class="table table-borderless">
          <tr>
            <td>レビュー投稿</td>
            <td><%= link_to '一覧を見る', reviews_path , class:"btn btn-primary btn-block" %></td>
          </tr>
          <tr>
            <td> コメント</td>
            <td><%= link_to '一覧を見る', review_comments_path , class:"btn btn-primary btn-block" %></td>
          </tr>
          <tr>
            <td>お気に入り</td>
            <td><%= link_to "一覧を見る", bookmarks_path, class: "btn btn-primary btn-block" %></td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>