<table class="table border">
  <tr>
    <th><h4>ジャンル検索</h4></th>
  </tr>
  <!--タグ検索　チェックボックス-->
  <%= form_tag({controller:"stores",action:"index"}, method: :get) do %>
  <% tag.all.each do |t| %>
  <tr>
    <td><li><%= check_box :tag_ids, t.name %><%= t.name %></li></td>
  </tr>
  <% end %>
  <tr>
    <td><%= submit_tag '検索' %></td>
  </tr>
  <% end %>
</table>
<!--絞り込み検索　空席情報、禁煙・喫煙情報　プルダウン-->
<%= form_tag(search_path, method: "get") do %>
  <%= select_tag(:seat_status, options_for_select([["空きわずか"],["空きあり"],["空き無し"]]), include_blank: "選択") %>
  <%= select_tag(:smoke_status, options_for_select([["禁煙"],["喫煙"]]), include_blank: "選択") %>
  <%= submit_tag '絞り込み' %>
<% end %>