<div class="row">
  <div class="col-4">
    <%= render 'public/stores/sidebar', tags: @tags %>
  </div>
  <div class="col-8">
    <h2 class="col-4 bg-light text-center">居酒屋一覧</h2>
    <% @stores.each do |store| %>
      <%= link_to store_path(store.id), class: "text-decoration-none" do %>
      <table class="table-sm table-warning border text-dark my-4">
        <tr>
          <th><%= image_tag store.get_image, size: "200x200" %></th>
          <th class="text-right">
            店舗名:<br>
            予算:<br>
            空席情報:<br>
            営業時間:<br>
            定休日:<br>
            禁煙・喫煙:<br>
            レビュー数:
          </th>
          <td></td>
          <td style="width: 55%">
            <%= store.name %><br>
            ￥<%= store.budget_min %>円~￥<%= store.budget_max %>円<br>
            <%= store.seat_status %><br>
            <%= store.business_hours %><br>
            <%= store.regular_holiday %><br>
            <%= store.smoke_status %><br>
            <%= store.reviews.count %>
          </td>
        </tr>
      </table>
      <% end %>
    <% end %>
  </div>
</div>