<div class="row pb-5">
  <div class="col-lg-4 mt-3">
    <%= render 'public/stores/sidebar', tags: @tags %>
  </div>
  <div class="col-lg-8 mb-5">
    <div class="text-success"><%= flash[:notice] %></div>
    <div class="text-danger"><%= flash[:alret] %></div>
    <h2 class="bg-light px-3 my-3 d-inline-block"><%= @store.name %>詳細</h2>
    <div class="card mb-3 bg-light shadow text-nowrap" style="max-width: 100%;">
      <div class="row mx-0">
        <div class="col-lg-6 p-3 px-auto">
          <div class="card-image">
            <%= image_tag @store.get_cover_image, class:"card-img"; %>
            <div class="row mt-3 mx-0">
              <div class="col-lg-4 col-4 px-1">
                <% @store.cooking_image.each do |get_cooking_image| %>
                  <%= image_tag get_cooking_image, class:"card-img"; %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-4 px-0 text-right">
          <div class="card-body px-0">
            <div class="card-text">
              <p>店舗名:<br>
              <p>予算:</p>
              <p>住所:</p>
              <p>電話番号:</p>
              <p>ジャンル:</p>
              <p>空席情報:</p>
              <p>営業時間:</p>
              <p>定休日:</p>
              <p>禁煙・喫煙:</p>
              <p>チャージ料:</p>
              <p>総合評価:</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-8">
          <div class="card-body px-0">
            <div class="card-text">
              <p><%= @store.name %></p>
              <p>￥<%= @store.budget_min %>円~￥<%= @store.budget_max %>円</p>
              <p><%= @store.address %></p>
              <p><%= @store.telephone_number %></p>
              <p>
                <!--ジャンルがない場合"ジャンル登録されていません"の表示-->
                <% if @store.tags.present? %>
                  <% @store.tags.each do |tag| %>
                    ・<%= tag.name %>
                  <% end %>
                <% else %>
                  ジャンル登録されていません
                <% end %>
              </p>
              <p><%= @store.seat_status %></p>
              <p><%= @store.business_hours %></p>
              <p><%= @store.regular_holiday %></p>
              <p><%= @store.smoke_status %></p>
              <p><%= @store.service_charge %>円</p>
              <p><%= render 'public/reviews/review.average.star', store: @store %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bookmark<%= @store.id %> my-4">
      <%= render 'public/bookmarks/bookmark', store: @store, customer: @customer %>
    </div>
    <h3 class="bg-light px-3 mb-3 d-inline-block">アクセス</h3>
    <!--google map API表示-->
    <script type="text/javascript">
      function initMap() {
        var test = {lat: <%= @store.latitude %>, lng: <%= @store.longitude %>};
        var map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 15,
                  center: test
                  });
        var transitLayer = new google.maps.TransitLayer();
        transitLayer.setMap(map);
        var contentString = '住所：<%= @store.address %>';
        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });
        var marker = new google.maps.Marker({
                      position:test,
                      map: map,
                      title: contentString
                    });
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
      }
    </script>
    <script async defer
              src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
    </script>
    <style type="text/css">
      #map { height: 300px;
            width: 100%;}
    </style>
    <div id="map"></div>
    <h3 class="bg-light px-3 my-3 d-inline-block">レビュー</h3>
    <!--レビューがない場合"レビューがありません"の表示-->
    <% if @reviews.present? %>
      <% @reviews.each do |review| %>
        <table class="col-lg-12 border border-warning rounded mt-4 px-3 shadow-sm">
          <tr>
            <%= render 'public/reviews/review.star', review: review %>
          </tr>
          <tr>
            <td class="text-right pr-3">
              <div class="favorite<%= review.id %>">
                <%= render 'public/favorites/favorite', store: @store, review: review %>
              </div>
              <p>
                投稿者:<%= link_to review.customer.name, customer_reviews_path(review.customer.id) %>
                投稿日:<%= review.created_at.strftime('%Y/%m/%d') %>
              </p>
            </td>
          </tr>
          <tr>
            <th><h5><%= link_to review.title, store_review_path(@store,review.id) %></h5></th>
          </tr>
          <tr>
            <!--コメントが100文字以上なら<もっと見る>を表示し、詳細リンク追加-->
            <%if review.body.length > 100 %>
              <td>
                <%=safe_join(review.body.truncate(100).split("\n"),tag(:br))%>
                <%= link_to "<もっと見る>", store_review_path(@store,review.id) %>
              </td>
            <!--コメントが100文字以下なら全文表示-->
            <% else %>
              <td><%=safe_join(review.body.split("\n"),tag(:br))%></td>
            <% end %>
          </tr>
          <tr>
            <td>
              <% review.review_image.each do |get_review_image| %>
                <%= image_tag get_review_image, size: "120x120" %>
              <% end %>
            </td>
          </tr>
        </table>
      <% end %>
    <% else %>
      <h3 class="text-center">レビューはありません</h3>
    <% end %>
    <% if @customer.name != "guestuser" %>
      <h3 class="bg-light px-3 mt-3 d-inline-block">レビューを投稿する</h3>
      <%= render 'public/reviews/form', review: @review, store: @store %>
    <% end %>
  </div>
</div>