<div class="row">
  <div class="col-4"></div>
  <div class="col-8">
    <h2 class="col-7 bg-light text-center"><%= @store.name %>詳細</h2>
    <div class="pb-4">
      <table class="table-sm table-warning border">
        <tr>
          <th><%= image_tag @store.get_image, size: "250x250" %></th>
          <th class="text-right">
            店舗名:<br>
            予算:<br>
            住所:<br>
            電話番号:<br>
            空席情報:<br>
            営業時間:<br>
            定休日:<br>
            禁煙・喫煙:<br>
            チャージ料:<br>
          </th>
          <td></td>
          <td style="width: 43%">
            <%= @store.name %><br>
            ￥<%= @store.budget_min %>円~￥<%= @store.budget_max %>円<br>
            <%= @store.address %><br>
            <%= @store.telephone_number %><br>
            <%= @store.seat_status %><br>
            <%= @store.business_hours %><br>
            <%= @store.regular_holiday %><br>
            <%= @store.smoke_status %><br>
            <%= @store.service_charge %>円<br>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="row pb-5">
  <div class="col-2"></div>
  <h3 class="col-3 bg-light text-center">レビュー</h3>
    <div class="col-8 mx-auto">
      <% @reviews.each do |review| %>
        <table class="border border-warning mt-4">
          <tr>
            <td>
              <!-- 評価 -->
              <div id="star-rate<%= review.id%>"></div>
            </td>
            <!-- 評価javascript -->
            <script>
              $('#star-rate<%= review.id%>').empty();
              $('#star-rate<%= review.id%>').raty({
              size      : 36,
              starOff   : '<%= asset_path('star-off.png') %>',
              starOn    : '<%= asset_path('star-on.png') %>',
              starHalf  : '<%= asset_path('star-half.png') %>',
              half      : true,
              readOnly: true,
              score: <%= review.star %>,
              });
            </script>
          </tr>
          <tr>
            <th style="width: 1%"><%= link_to review.title, store_review_path(@store,review.id) %></th>
          </tr>
          <tr>
            <!--コメントが200文字以上なら<もっと見る>を表示し、詳細リンク追加-->
            <%if review.body.length > 200 %>
            <td style="width: 1%">
              <%=safe_join(review.body.truncate(200).split("\n"),tag(:br))%>
              <%= link_to store_review_path(@store,review.id) do %>&lt;もっと見る&gt;<% end %>
            </td>
            <!--コメントが200文字以下なら全文表示-->
            <% else %>
            <td style="width: 1%">
              <%=safe_join(review.body.split("\n"),tag(:br))%>
            </td>
            <% end %>
          </tr>
        </table>
      <% end %>
  </div>
</div>
<% if @customer.name != "guestuser" %>
<div class="row">
  <div class="col-2"></div>
  <h3 class="col-3 bg-light text-center mt-5">レビューを投稿する</h3>
  <%= render 'public/reviews/form', review: @review, store: @store %>
</div>
<% end %>