<div class="row">
  <h3 class="bg-light border px-3 mb-3 d-inline-block">レビュー投稿一覧</h3>
  <table class="table table-hover">
    <thead class="thead thead-light">
      <th class="col-2">レビューID</th>
      <th class="col-1">投稿者</th>
      <th class="col-2">評価</th>
      <th>タイトル</th>
      <th>本文</th>
      <th class="col-1"></th>
    </thead>
    <tbody>
      <% @reviews.each do |review| %>
      <tr>
        <td><%= review.id %></td>
        <td><%= link_to review.customer.name, admin_customer_path(review.customer.id) %></td>
        <td><div id="star-rate<%= review.id%>"></td></div>
          <script>
            $('#star-rate<%= review.id%>').empty();
            $('#star-rate<%= review.id%>').raty({
            size      : 36,
            starOff   : '<%= asset_path('star-off.png') %>',
            starOn    : '<%= asset_path('star-on.png') %>',
            starHalf  : '<%= asset_path('star-half.png') %>',
            half      : true,
            readOnly: true,
            score: <%= review.star %>,
            });
          </script>
        <td><%= review.title %></td>
        <td><%= safe_join(review.body.split("\n"),tag(:br))%></td>
        <td><%= link_to "削除", admin_review_path(review.id), class: "btn btn-danger", method: :delete %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>