<h3 class="text-center bg-light border px-3 my-3 d-inline-block">タグ一覧・追加</h3>
<div class="text-success"><%= flash[:notice] %></div>
<div class="text-danger"><%= flash[:alret] %></div>
<div class='row'>
  <div class="col-lg-5 my-4">
    <table class="table table-borderless align-middle">
      <%= form_with model: @tag,url: admin_tags_path,method: :post do |f| %>
        <tr>
          <td>タグ名</td>
          <td><%= f.text_field :name, class: "form-control" %></td>
          <td><%= f.submit "新規登録",class: 'btn btn-success' %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-lg-5 mb-5">
    <table class="table table-hover table-inverse align-middle">
      <thead class="thead thead-light">
        <tr>
          <th>タグ名</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <% @tags.each do |tag| %>
        <tr>
          <td><%= tag.name %></td>
          <td class="text-right"><%= link_to '編集する', edit_admin_tag_path(tag.id), class: "btn btn-success" %></td>
          <td class="text-right"><%= link_to '削除', admin_tag_path(tag.id), method: :delete, class: "btn btn-danger" %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>