<%= form_with model: [store,review] do |f| %>
  <table class="text-left mt-3">
    <tr>
      <td>  <!-- 評価 -->
        <div id="star">
        <%= f.hidden_field :star, id: :review_star %></div>
      </td>
        <!-- 評価javascript -->
        <script>
        $('#star').empty();
        $('#star').raty({
        size     : 36,
        starOff  :  '<%= asset_path('star-off.png') %>',
        starOn   : '<%= asset_path('star-on.png') %>',
        starHalf : '<%= asset_path('star-half.png') %>',
        scoreName: 'review[star]',
        half: true,
        });
      </script>
    </tr>
    <tr>
      <td><%= f.file_field :review_image, accept: "image/*", multiple: true %></td>
    </tr>
    <tr>
      <td><%= f.text_field :title, placeholder: "タイトル", size: "45" %></td>
    </tr>
    <tr>
      <td><%= f.text_area :body, placeholder: "本文", size: "48x5" %></td>
    </tr>
    <tr>
      <td> <%= f.submit class: 'btn btn-success' %></td>
    </tr>
  </table>
<% end %>