<td class="text-nowrap">
  <!-- 評価 -->
  <div id="star-rate<%= review.id%>"></div>
</td>
<!-- 評価javascript -->
<script>
  $('#star-rate<%= review.id%>').empty();
  $('#star-rate<%= review.id%>').raty({
  size      : 36,
  starOff   : '<%= asset_path('star-off.png') %>',
  starOn    : '<%= asset_path('star-on.png') %>',
  starHalf  : '<%= asset_path('star-half.png') %>',
  half      : true,
  readOnly: true,
  score: <%= review.star %>,
  });
</script>