<div class="row">
  <div class="col-lg-4 mt-3 mb-5">
    <%= render 'public/stores/sidebar', tags: @tags %>
  </div>
  <div class="col-lg-8 pb-3 mt-3 mx-auto">
    <div class="text-success"><%= flash[:notice] %></div>
    <h3 class="bg-light px-3 my-3 d-inline-block">レビュー</h3>
    <table class="col-lg-12 border border-warning shadow-sm">
      <tr>
        <%= render 'public/reviews/review.star', review: @review %>
      </tr>
      <tr>
        <td class="text-right pr-3">
          <div class="favorite<%= @review.id %>">
            <%= render 'public/favorites/favorite', store: @store, review: @review %>
          </div>
          <p>
            投稿者:<%= link_to @review.customer.name, customer_reviews_path(@review.customer.id) %>
            投稿日:<%= @review.created_at.strftime('%Y/%m/%d') %>
          </p>
        </td>
      </tr
      <tr>
        <th><h5><%= @review.title %></h5></th>
      </tr>
      <tr>
        <td><%= safe_join(@review.body.split("\n"),tag(:br))%></td>
      </tr>
      <tr>
        <td>
          <% @review.review_image.each do |get_review_image| %>
            <%= image_tag get_review_image, size: "120x120" %>
          <% end %>
        </td>
      </tr>
    </table>
    <% if @review.customer == current_customer %>
      <%= link_to '編集する', edit_store_review_path(@review.store_id,@review.id), class: 'btn btn-success mt-3' %>
      <%= link_to '削除する', store_review_path(@review.store_id,@review.id), class: 'btn btn-danger mt-3', method: :delete %>
    <% end %>
    <div class="col-lg-12 col-12 mt-3">
      <h3 class="bg-light px-3 my-3 d-inline-block">コメント</h3>
      <div class="review-comments-index pb-5">
        <!--コメントがない場合"コメントがありません"の表示-->
        <% if @review_comments.present? %>
          <%= render 'public/review_comments/comment_index', review_comments: @review_comments %>
        <% else %>
        <h3 class="text-center">コメントはありません</h3>
        <% end %>
      </div>
      <% if @customer.name != "guestuser" %>
        <div class="mx-auto pb-5">
          <h3 class="bg-light px-3 my-3 d-inline-block">コメントを投稿する</h3>
          <%= render 'public/review_comments/form', store: @store, review: @review, review_comment: @review_comment %>
        </div>
      <% end %>
    </div>
  </div>
</div>