<div class="row">
  <div class="col-2"></div>
  <h3 class="col-3 bg-light text-center">レビュー</h3>
    <div class="col-8 pb-3 mt-3 mx-auto">
      <table class="border border-warning">
        <tr>
          <td><!-- 評価 -->
            <div id="star-rate<%= @review.id%>"></div>
          </td>
          <!-- 評価javascript -->
          <script>
            $('#star-rate<%= @review.id%>').empty();
            $('#star-rate<%= @review.id%>').raty({
            size      : 36,
            starOff   : '<%= asset_path('star-off.png') %>',
            starOn    : '<%= asset_path('star-on.png') %>',
            starHalf  : '<%= asset_path('star-half.png') %>',
            half      : true,
            readOnly: true,
            score: <%= @review.star %>,
            });
          </script>
        </tr>
        <tr>
          <th style="width: 1%"><%= @review.title %></th>
        </tr>
        <tr>
          <td style="width: 1%"><%= safe_join(@review.body.split("\n"),tag(:br))%></td>
        </tr>
      </table>
      <%= link_to '編集する', edit_store_review_path(@review.store_id,@review.id), class: 'btn btn-success mt-3' %>
      <%= link_to '削除する', store_review_path(@review.store_id,@review.id), class: 'btn btn-danger mt-3', method: :delete %>
    </div>
</div>
<div class="row pb-5">
  <div class="col-2"></div>
  <h3 class="col-3 bg-light text-center">コメント</h3>
  <div class="col-8 mx-auto">
    <table class="table table-hover">
      <% @review_comments.each do |review_comment| %>
      <tr>
        <td><%= review_comment.comment %></td>
        <td><%= link_to '削除する', store_review_review_comment_path(review_comment.store,review_comment.review,review_comment),class: "btn btn-sm btn-danger", method: :delete %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
<% if @customer.name != "guestuser" %>
<div class="row">
  <div class="col-2"></div>
  <h3 class="col-3 bg-light text-center mt-5">コメントを投稿する</h3>
  <div class="col-12">
    <%= form_with model: [@store,@review,@review_comment] do |f| %>
      <table class="mx-auto text-right mt-3 mb-5">
        <tr>
          <td><%= f.label :"コメント" %></td>
          <td><%= f.text_area :comment, size: "52x5" %></td>
        </tr>
        <tr>
          <td></td>
          <td><%= f.submit "投稿する",class: 'btn btn-success' %></td>
        </tr>
      </table>
    <% end %>
  </div>
</div>
<% end %>