<div class="row">
  <h3 class="bg-light px-3 my-3 d-inline-block">コメント投稿一覧</h3>
  <table class="table table-responsive-sm table-hover">
    <thead class="thead thead-light text-nowrap">
      <th>コメントID</th>
      <th>居酒屋ID</th>
      <th>レビューID</th>
      <th>投稿者</th>
      <th>コメント</th>
      <th></th>
    </thead>
    <tbody>
      <% @review_comments.each do |review_comment| %>
        <tr>
          <td><%= review_comment.id %></td>
          <td><%= review_comment.store.id %></td>
          <td><%= review_comment.review.id %></td>
          <td><%= link_to review_comment.customer.name, admin_customer_path(review_comment.customer.id) %></td>
          <td><%= safe_join(review_comment.comment.split("\n"),tag(:br))%></td>
          <td class="text-nowrap"><%= link_to "削除", admin_review_comment_path(review_comment.id), class: "btn btn-danger", method: :delete %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>