<div class="text-danger"><%= flash[:alret] %></div>
<h3 class="bg-light px-3 my-3 d-inline-block">店舗情報編集</h3>
<div class="row">
  <div class="col-lg-12">
    <%= form_with model: @store, url: public_store_stores_information_path, method: :patch do |f| %>
      <%= render 'public_store/stores/store_edit', f: f, tags: @tags %>
  </div>
</div>
<div class="row pb-5">
  <div class='col-lg-3 col-6'>
    <%= f.submit "編集内容を保存",class: 'btn btn-success' %>
  </div>
  <% end %>
  <div class='col-lg-3 col-6 pb-3'>
    <%= link_to '退会する',public_store_stores_information_path, method: :delete, "data-confirm" => "本当に退会しますか？",class: 'btn btn-danger' %>
  </div>
</div>