<%= form_with model: @store, url: public_store_store_path, method: :patch do |f| %>
<h3 class="bg-light border px-3 mb-3 d-inline-block">会員情報編集</h3>
<div class="text-danger">
  <%= flash[:alret] %>
</div>
<div class='row'>
  <table class="table table-borderless text-nowrap">
    <tr>
      <th><%= f.label :"店舗名" %></th>
      <td><%= f.text_field :name, autofocus: true, placeholder: "店舗名" %></td>
    </tr>
    <tr>
      <th><%= f.label :"予算" %></th>
      <td>￥<%= f.text_field :budget_min %>円 ～￥<%= f.text_field :budget_max %>円</td>
    </tr>
    <tr>
      <th><%= f.label :"住所" %></th>
      <td><%= f.text_field :address %></td>
    </tr>
    <tr>
      <th><%= f.label :"電話番号" %></th>
      <td><%= f.text_field :telephone_number %></td>
    </tr>
    <tr>
      <th><%= f.label :"空席情報" %></th>
      <td><%= f.text_field :seat_status %></td>
    </tr>
    <tr>
      <th><%= f.label :"営業時間" %></th>
      <td><%= f.text_field :business_hours %></td>
    </tr>
    <tr>
      <th><%= f.label :"定休日" %></th>
      <td><%= f.text_field :regular_holiday %></td>
    </tr>
    <tr>
      <th><%= f.label :"禁煙・喫煙" %></th>
      <td><%= f.text_field :smoke_status %></td>
    </tr>
    <tr>
      <th><%= f.label :"チャージ" %></th>
      <td><%= f.text_field :service_charge %>円</td>
    </tr>
    <tr>
      <th><%= f.label :"メールアドレス" %></th>
      <td><%= f.email_field :email, autocomplete: "email", placeholder: "sample@example.com" %></td>
    </tr>
  </table>
</div>
<div class='row text-center pb-5'>
  <div class='col-4'>
    <%= f.submit "編集内容を保存",class: 'btn btn-success' %>
  </div>
  <div class='col-3'>
    <%= link_to '退会する',"#", method: :patch, "data-confirm" => "本当に退会しますか？",class: 'btn btn-danger' %>
  </div>
</div>
<% end %>
