<div class="text-danger"><%= flash[:alret] %></div>
<h3 class="bg-light px-3 my-3 d-inline-block">店舗情報編集</h3>
<div class="row">
  <div class="col-lg-12">
    <%= form_with model: @store, url: public_store_stores_information_path, method: :patch do |f| %>
    <table class="table table-borderless table-responsive-sm text-nowrap">
      <tr>
        <th>店舗名</th>
        <td><%= f.text_field :name, autofocus: true, placeholder: "店舗名 ××店" %></td>
      </tr>
      <tr>
        <th>画像</th>
        <td><%= f.file_field :image, accept: "image/*" %></td>
      </tr>
      <tr>
        <th>予算</th>
        <td><%= f.text_field :budget_min, placeholder: "0000" %>円 ～<%= f.text_field :budget_max, placeholder: "0000" %>円</td>
      </tr>
      <tr>
        <th>住所</th>
        <td><%= f.text_field :address, placeholder: "東京都×××市×××区××町0-0", class: 'w-100' %></td>
      </tr>
      <tr>
        <th>電話番号(ハイフンなし)</th>
        <td><%= f.text_field :telephone_number, placeholder: "00000000000" %></td>
      </tr>
      <tr>
        <th>タグ</th>
        <td>
          <!--登録済みのタグをチェックボックスで表示-->
          <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
            <div class='form-check'>
              <%= tag.label class: 'form-check-label' do %>
                <%= tag.check_box class: 'form-check-input' %>
                <%= tag.text %>
              <% end %>
            </div>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>空席情報</th>
        <td><%= f.select :seat_status, [["空きあり"], ["空きわずか"],["空き無し"]], include_blank: "選択して下さい" %></td>
      </tr>
      <tr>
        <th>営業時間</th>
        <td><%= f.text_field :business_hours, placeholder: "例 18:00~24:00" %></td>
      </tr>
      <tr>
        <th>定休</th>
        <td><%= f.text_field :regular_holiday, placeholder: "例 火曜日" %></td>
      </tr>
      <tr>
        <th>禁煙・喫煙</th>
        <td><%= f.select :smoke_status, [["禁煙"], ["喫煙"]], include_blank: "選択して下さい" %></td>
      </tr>
      <tr>
        <th>チャージ</th>
        <td><%= f.text_field :service_charge, placeholder: "000" %>円</td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td><%= f.email_field :email, autocomplete: "email", placeholder: "sample@example.com" %></td>
      </tr>
      <tr>
        <th>掲載情報</th>
        <td>
          <%= f.radio_button :is_published, true %><%= f.label :is_published, "公開", value: true, class: "px-2" %>
          <%= f.radio_button :is_published, false %><%= f.label :is_published, "非公開", value: false, class: "px-2" %>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="row pb-5">
  <div class='col-lg-3 col-6'>
    <%= f.submit "編集内容を保存",class: 'btn btn-success' %>
  </div>
  <% end %>
  <div class='col-lg-3 col-6 pb-3'>
    <%= link_to '退会する',public_store_stores_information_path, method: :delete, "data-confirm" => "本当に退会しますか？",class: 'btn btn-danger' %>
  </div>
</div>