<div class="row">
  <div class="mx-auto col-11 col-sm-10 col-lg-8">
    <div class="my-4">
      <h4 class="col-5 bg-light text-center">新規店舗会員登録</h4>
      <div class="text-danger">
        <%= render "public/shared/error_messages", resource: resource %>
      </div>
    </div>
    <%= form_with model: @store, url: store_registration_path, id: 'new_store', class: 'new_store' do |f| %>
    <table class="table table-borderless text-nowrap">
      <tr>
        <th><%= f.label :"店舗名" %></th>
        <td><%= f.text_field :name, autofocus: true, placeholder: "店舗名" %></td>
      </tr>
      <tr>
        <th><%= f.label :"予算" %></th>
        <td>￥<%= f.text_field :budget_min %>円 ～￥<%= f.text_field :budget_max %>円</td>
      </tr>
      <tr>
        <th><%= f.label :"住所" %></th>
        <td><%= f.text_field :address %></td>
      </tr>
      <tr>
        <th><%= f.label :"電話番号" %></th>
        <td><%= f.text_field :telephone_number %></td>
      </tr>
      <tr>
        <th><%= f.label :"空席情報" %></th>
        <td><%= f.text_field :seat_status %></td>
      </tr>
      <tr>
        <th><%= f.label :"営業時間" %></th>
        <td><%= f.text_field :business_hours %></td>
      </tr>
      <tr>
        <th><%= f.label :"定休日" %></th>
        <td><%= f.text_field :regular_holiday %></td>
      </tr>
      <tr>
        <th><%= f.label :"禁煙・喫煙" %></th>
        <td><%= f.text_field :smoke_status %></td>
      </tr>
      <tr>
        <th><%= f.label :"チャージ" %></th>
        <td><%= f.text_field :service_charge %>円</td>
      </tr>
      <tr>
        <th><%= f.label :"メールアドレス" %></th>
        <td><%= f.email_field :email, autocomplete: "email", placeholder: "sample@example.com" %></td>
      </tr>
      <tr>
        <th>
          <%= f.label :"パスワード" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %>文字以上)</em>
          <% end %><br />
        </th>
        <td><%= f.password_field :password, autocomplete: "new-password" %></td>
      </tr>
      <tr>
        <th><%= f.label :"パスワード(確認用)" %></th>
        <td><%= f.password_field :password_confirmation %></td>
      </tr>
    </table>
    <div class="actions m-4 text-center">
      <%= f.submit "新規登録", class: "btn btn-success" %>
    </div>
    <% end %>
    <h5 class="col-4 bg-light">既に登録済みの方</h5>
    <p class="col-7"><%= render "public/shared/links" %>からログインしてください</p>
  </div>
</div>