<!DOCTYPE html>
<html>
  <head>
    <title>IzakayaWaiting</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <%= render "layouts/header" %>
  <div class="container">
    <%= yield %>
    <!--最上部へ戻るボタンを表示-->
    <span id="back">
      <a href="#">
        <%= image_tag('arrow.png') %>
      </a>
    </span>
  </div>
  <footer class="bg-header border-top p-1 bg-dark fixed-bottom">
    <p class="my-1 mx-auto w-auto text-center text-light">- 居酒屋Waiting -</p>
  </footer>
</html>
