<!DOCTYPE html>
<html>
  <head>
    <title>IzakayaWaiting</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <%= render "layouts/header" %>
  <div class="container mb-5">
    <%= yield %>
  </div>
    <footer class="bg-header border-top p-1 bg-dark fixed-bottom">
      <p class="my-3 mx-auto w-auto text-center text-light">- 居酒屋Waiting -</p>
    </footer>
</html>
